# Cổng chạy ứng dụng local
PORT=3000

# Chuỗi kết nối Database PostgreSQL
# 1. Chạy trên Localhost (mặc định không cần sslmode=require)
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tamxua"
#
# 2. Chạy trên Cloud (Neon Serverless Postgres hoặc Supabase)
# DATABASE_URL="postgresql://username:password@ep-wispy-dew.neon.tech/neondb?sslmode=require"
DATABASE_URL=
